<!-- views/partials/header.ejs -->


<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-fire"></span>
                Gym Pics
            </a>
        </div>

   <ul class="nav navbar-nav navbar-right">
 	   <li><button type="button" id="Login_Button" class="btn btn-primary" data-toggle="modal" data-target="#LoginModal">Login</button></li>
	   <li><button type="button" id="Register_Button" class="btn btn-primary">Register</button></li>
		<div id="Login_State">
			Welcome, <a href="/Dashboard"><%= user %></a>
		</div>
  </ul>
</div>



<div id="Login_Modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Login into Account</h4>
            </div>
            <div class="modal-body">
              <form method="post" action='/Login' name="login_form">
              <div class="user_info">
	              <input type="text" class="span3" name="email" id="email" placeholder="Username"><br>
	              <br><input type="password" class="span3" name="password" placeholder="Password"><br>
	               <br><button type="submit" class="btn btn-success">Sign in</button>
	                <a class="btn btn-default" href="#">Forgot Login?</button></a>
	              <br>
              </div>
            </form>
            </div>

        </div>
    </div>
</div>


<div id="Register_Modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Register an Account</h4>
            </div>
            <div class="modal-body">
              <form method="post" action='/Register' name="register_form">
              <div class="user_info">
	              <input type="text" class="span3" name="email" id="email" placeholder="Email"><br>
	              <br><input type="text" class="span3" name="username" id="username" placeholder="Username"><br>
	              <br><input type="password" class="span3" name="password" id="password" placeholder="Password"><br>
	               <br><button type="submit" class="btn btn-success">Register</button>
	               
	              <br>
              </div>
            </form>
            </div>

        </div>
    </div>
</div>
</nav>
     
	            


<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">PowerLifting</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">BodyBuilding</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">CrossFit</button>
  </div>
</div>




