<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    
    <div class=login>
    <h2>Welcome, <%=GymUsername%></h2>
    </div>


        
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>                                		